<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2025-2026 the Jasper Server OS Authors
  ~ SPDX-License-Identifier: AGPL-3.0-or-later
  ~ Copyright (C) 2005-2023. Cloud Software Group, Inc. All Rights Reserved.
  ~ http://www.jaspersoft.com.
  ~
  ~ Unless you have purchased a commercial license agreement from Jaspersoft,
  ~ the following license terms apply:
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as
  ~ published by the Free Software Foundation, either version 3 of the
  ~ License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">
    <beans profile="jrs">

        <cache:annotation-driven cache-manager="springCacheManager" mode="proxy" />

        <!-- Cache Manager Validator - validates required caches exist at startup -->
        <bean id="cacheManagerValidator"
              class="com.jaspersoft.jasperserver.api.common.util.spring.CacheManagerValidator"
              depends-on="springCacheManager">
            <property name="cacheManager" ref="springCacheManager"/>
            <!-- Default required caches are defined in the class. Override if needed:
            <property name="requiredCacheNames">
                <list>
                    <value>aclCache</value>
                    <value>inputControlCache</value>
                </list>
            </property>
            -->
            <!-- Set to false to only warn instead of failing on missing caches -->
            <property name="failOnMissingCache" value="true"/>
        </bean>

    </beans>

</beans>
